* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: #0c0a0a;
    background-image: url(/asset/WhatsApp\ Image\ 2022-03-21\ at\ 12.18.02.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  

    color: #181d25;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    padding: 0px;
    width: 213px;
    height: 213px;
    border-radius: 50%;
    margin-bottom: 2.5rem;
    border: 3px solid #0c0a0a;
    box-sizing: content-box;

}

header {
    margin-bottom: 3rem;
    text-align: center;
}

header p {
    font-weight: 300;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    color: #525252;
}

header h1 {
    font-weight: lighter;
    font-size: 55px;
    line-height: 60px;
    color: #518951;
    /* text-shadow: 5px 5px burlywood */
}

header h2 {
    font-weight: 100;
    font-size: 20px;
    line-height: 25px;
    color: black;
    /* text-shadow: 5px 5px burlywood */
}

nav {
    width: 100%;
    display: inline-block;
    max-width: 190px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-weight: lighter;
    font-size: 1.25rem;
    color: #fff;

    box-shadow: 0px 2px 2px 2px var(--link-color);
    background-color: var(--link-color);

    transition: box-shadow 0.5s;
}

a:hover {
    box-shadow: 0px 0.5rem 1.5rem 0rem var(--link-color);
}

i {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

#Storemaps {
    --link-color: #5ac797;
}

#Storemaps img {
    height: 30px;
    width: 30px;
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
}

#whatsapp {
    --link-color: #5a8951;
}

#whatsapp img {
    height: 30px;
    width: 30px;
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
}

#instagram {
    --link-color: #518951;
}

#twitter {
    --link-color: #518951;
}

#tokopedia {
    --link-color: #ff7a8e
}
#tokopedia img {
    height: 35px;
    width: 35px;
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
}

#facebook {
    --link-color: #518951;
}

